<h1>aqui va el formulario</h1>

<form action="/cars" method="post">
  <input type="text" name="brand" placeholder="brand">
  <input type="text" name="model" placeholder="model">
  <input type="text" name="img_url" placeholder="img_url">
  <input type="submit" name="submit" value="">
</form>


<a href="/cars">return</a>
